html, body{
  margin: 0;
  width: 100%;
  height: 100%;
  --redo-main-color: #C0281E;
  --redo-main-color-75: rgba(192,40,30,0.75);
  --redo-main-color-50: rgba(192,40,30,0.50);
  --redo-main-color-25: rgba(192,40,30,0.25);
  --redo-main-color-10: rgba(192,40,30,0.1);
  --redo-secondary-color: black;
  --redo-secondary-color-75: rgba(0,0,0,0.75);
  --redo-secondary-color-50: rgba(0,0,0,0.5);
  --redo-secondary-color-25: rgba(0,0,0,0.25);
  --redo-secondary-color-10: rgba(0,0,0,0.1);
  font-family: 'Lato', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
*, *:after, *:before {
  box-sizing: border-box;
}

.floor{
  display: block;
  width: 100%;
  height: 100%;
}
.floor .container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* MENU ICON */
.menu-icon-container{
  position: fixed;
  top: 16px;
  right: 16px;
  border-radius: 50%;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.menu-icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
.menu-icon-slash {
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    padding: 1px 0 0 1px;
}
.menu-icon-slash-bar-mask.top {
    width: 10px;
    margin-left: 5px;
}
.menu-icon-slash-bar-mask {
    position: relative;
    overflow: hidden;
}
.menu-icon-slash-bar {
    width: 10px;
    border-bottom: 0.15em solid #000;
    margin-bottom: 5px;
    transition: all 0.5s;
}
.menu-icon-slash-bar.top::before {
    content: "";
    position: absolute;
    width: 20px;
    border-bottom: 0.15em solid #000;
    left: 25px;
    transition: all 0.5s;
}
.menu-icon-slash-bar.top {
    animation: slide-bar 5s infinite;
}
.menu-icon-slash-bar-mask.middle {
    width: 20px;
}
.menu-icon-slash-bar.middle {
    width: 20px;
    animation: slide-bar-long 5s 0.2s infinite;
}
.menu-icon-slash-bar.middle::before {
    content: "";
    position: absolute;
    width: 50px;
    border-bottom: 0.15em solid #000;
    left: 40px;
    transition: all 0.5s;
}
.menu-icon-slash-bar-mask.bottom {
    width: 10px;
    margin-left: 5px;
}
.menu-icon-slash-bar.bottom {
    animation: slide-bar 5s 0.58s infinite;
}
.menu-icon-slash-bar.bottom::before {
    content: "";
    position: absolute;
    width: 20px;
    border-bottom: 0.15em solid #000;
    left: 25px;
    transition: all 0.5s;
}
@keyframes slide-bar{
    0%{
        transform:translate3d(0, 0, 0)
    }
    50%{
        transform:translate3d(0, 0, 0)
    }
    100%{
        transform:translate3d(-30px, 0, 0)
    }
}
@keyframes slide-bar-long{
    0%{
        transform:translate3d(0, 0, 0)
    }
    50%{
        transform:translate3d(0, 0, 0)
    }
    100%{
        transform:translate3d(-40px, 0, 0)
    }
}
.menu-icon-container span{
  font-size: 12px;
}

/* MENU */
.menu-page{
  width: 0px;
  height: 0px;
  border-radius: 50%;
  transition: all 0.5s ease-in;
  background: var(--redo-secondary-color-50);
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
}
.menu-page.opened{
  width: 100%;
  height: 100%;
  visibility: visible;
}
.menu-page ul{

}


/* HOME FLOOR */
.home{
  position: relative;
  overflow: hidden;
}
.home #particles{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* FACEBOOK, TWITTER ICON CONTAINER */
.home .icon-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 24px;
  top: calc(50% - 120px);
  background: transparent;
}
.home .icon-container .icon-wrapper{
  background-color: white;
  cursor: pointer;
  position: relative;
  margin-top: 16px;
}
.home .icon-container .icon-wrapper > .text{
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  overflow: hidden;
  transition: width 0.3s ease-in;
  color: var(--redo-main-color);
  right: 32px;
  text-align: right;
}
.home .icon-container .icon-wrapper:hover > .text{
  width: 200px;
}
.home .icon-container .icon-wrapper > .icon{
  height: 24px;
  width: 24px;
  opacity: 1;
  transition: opacity 0.4s ease-in;
}
.home .icon-container .icon-wrapper:hover > .icon{
  opacity: 0.5;
}
.home .icon-container .icon-wrapper .icon.facebook{
  background: url("../img/facebook.png") no-repeat center;
  background-size: contain;
}
.home .icon-container .icon-wrapper .icon.twitter{
  background: url("../img/twitter.png") no-repeat center;
  background-size: contain;
}
.home .icon-container .icon-wrapper .icon.email{
  background: url("../img/email.png") no-repeat center;
  background-size: contain;
}
.home .access-button{
  border-radius: 100px;
  padding: 16px 24px;
  background-color: var(--redo-secondary-color-50);
}
/* LOGO CONTAINER */
.home .logo-container{
  background: url("../img/logoRedBig.svg") no-repeat center;
  background-size: contain;
  background-color: transparent;
  height: 780px;
  width: 50%;
  position: absolute;
  left: 56px;
  bottom: -56px;
}
/*TEXT CONTAINER */
.home .text-container{
  position: absolute;
  top: calc(50% - 256px);
  right: 256px;
  width: 35%;
}
.home .text-container .welcome{
  font-size: 36px;
  color: var(--redo-secondary-color-75);
  -webkit-text-stroke: 1px var(--redo-secondary-color-10);
  text-stroke: 1px var(--redo-secondary-color-10);
  text-align: left;
  display: block;
  font-weight: 900;
  padding-bottom: 32px;
}
.home .text-container .welcome:after{
  height: 4px;
  width: 50px;
  content: '';
  background-color: var(--redo-secondary-color-25);
  position: relative;
  display: block;
}
.home .text-container .title span{
  font-size: 104px;
  text-align: right;
  display: block;
  font-weight: 900;
  color:white;
  -webkit-text-stroke: 2px var(--redo-secondary-color-25);
  text-stroke: 2px var(--redo-secondary-color-25);
}
/* GO TO APP BUTTON */
.home .go-to-app-container{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  padding-top: 16px;
}
.home .go-to-app{
  padding: 12px 56px;
  border-radius: 50px;
  border: 2px solid #2a7b86;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: relative;
  background-color: #468f99;
  color: white;
  width: 256px;
  display: block;
  text-align: center;
}
.home .go-to-app:hover{
  background-color: #2a7b86;
}
.home .go-to-app:before{
  position: absolute;
  height: 100%;
  width: 20px;
  content: '';
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: url("../img/arrowUp.svg") no-repeat center;
  background-size: contain;
  left: 70%;
  opacity: 0;
  top: 0;
}
.home .go-to-app:hover:before{
  left: 80%;
  opacity: 1;
}
.home .more-info-button-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 136px;
}
.home .more-info-button{
  display: block;
  background: transparent;
  color: var(--redo-secondary-color-75);
  border: 1px solid var(--redo-secondary-color-75);
  border-radius: 3px;
  padding: 8px 16px;
  position: relative;
  margin-top: 0;
  transition: margin 0.2s ease-in;
  width: 296px;
  text-align: center;
  cursor: pointer;
}
.home .more-info-button .arrow{
  position: absolute;
  top: 8px;
  display: block;
  width: 8px;
  height: 16px;
  background: url("../img/arrowDownBlack.svg") no-repeat center;
  background-size: contain;
  transition: all 0.3s ease-out;
}
.home .more-info-button:hover{
  margin-top: 8px;
  color:white;
}
.home .more-info-button:hover .arrow{
  top: 16px;
  background: url("../img/arrowDownWhite.svg") no-repeat center;
  background-size: contain;
}
.home .more-info-button:after{
  background-color: var(--redo-secondary-color-75);
  z-index: -1;
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  display: block;
  right: 0;
  top: 0;
  transition: all 0.2s ease-in;
}
.home .more-info-button:hover:after{
  width: 100%;
}



.about{

}

.stories{
  height: 500px;
}
.stories .container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.stories .card{
  background: transparent;
  display: block;
  position: relative;
  width: 50%;
  height: 50%;
}
.stories .card .text-container{
  display: block;
  width: 360px;
  position: absolute;
  top: 72px;
  left: 168px;
}
.stories .card .text-container .name{
  font-weight: 900;
  font-size: 16px;
  color: var(--redo-secondary-color);
  display: block;
  padding-bottom: 8px;
}
.stories .card .quote-up{
  position: absolute;
  width: 50px;
  height: 50px;
  background: url("../img/quote.svg") no-repeat center;
  background-size: contain;
  opacity: 0.2;
  display: block;
  top: 24px;
  left: -48px;
  z-index: -1;
}
.stories .card .quote-down{
  position: absolute;
  width: 50px;
  height: 50px;
  background: url("../img/quote.svg") no-repeat center;
  background-size: contain;
  opacity: 0.2;
  display: block;
  bottom: -24px;
  right: 0;
  transform: rotateX(180deg) rotateY(180deg);
  z-index: -1;
}
.stories .card .text{
  width: 360px;
  text-align: left;
}
.losange {
  position: absolute;
  top: 24px;
  left: 24px;
}
.losange, .losange div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.losange {
  transform: rotate(45deg) translateY(10px);
}
.losange .los1 {
  width: 355px;
  height: 355px;
  transform: rotate(-45deg) translateY(-74px);
}
.losange .los1 .image {
  width: 100%;
  height: auto;
}
.losange .los1 .image.first{
  background: url("../img/girlUser.jpeg") no-repeat center;
  background-size: contain;
  width: 300px;
  height: 200px;
}

/* Background pattern from Subtle Patterns */
.pricing{
  background: url("../img/school.png");
  background-repeat: repeat;
  filter: hue-rotate(300deg);
  -ms-transform: skewY(-2deg); /* IE 9 */
  -webkit-transform: skewY(-2deg); /* Safari */
  transform: skewY(-2deg); /* Standard syntax */
}


.team{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-items: center;
  align-items: center;
}
.team .card{
  width: 320px;
}
